<div class='page'>
<app-header />
  <main>
    <app-search-form />
    <section class='user-info-block' role='region' aria-labelledby='section-heading'>
      <!--      <h2 id='section-heading' class='screen-reader-text'>Search results</h2>-->
      <!--      <img class='user-avatar' src='' alt=''>-->
      <!--      <h3 class='user-name'></h3>-->
      <!--      <p class='user-created'>Joined<time datetime=''></time></p>-->
      <!--      <p class='user-bio'></p>-->
      <!--      <dl class='user-github'>-->
      <!--        <dt class='user-repos'>Repos</dt>-->
      <!--        <dd></dd>-->
      <!--        <dt class='user-followers'>Followers</dt>-->
      <!--        <dd></dd>-->
      <!--        <dt class='user-following'>Following</dt>-->
      <!--        <dd></dd>-->
      <!--      </dl>-->
      <!--      <ul class-user-contact>-->
      <!--        <li class='user-location'></li>-->
      <!--        <li class='user-blog'></li>-->
      <!--        <li class='user-twitter'></li>-->
      <!--        <li class='user-organisations'></li>-->
      <!--      </ul>-->

    </section>
  </main>
</div>
